.order-stat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;


  &:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }

  .order-stat-card__image img {
    width: 4rem;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
   
    margin-right: 20px;
  }

  &__right-column {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  &__left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  &__label {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__date {
    font-size: 1rem;
    text-align: left;
    color: #999;
  }

  &__value {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    align-self: flex-end;
  }

  &__transaction {
    font-size: 1.5rem;
    text-align: right;
    color: black;
    align-self: flex-end;
  }

  @media (max-width: 768px) {
    flex-direction: row;
    height: 70px;
    width: 70%;
    padding: 20px 30px;

   

    .order-stat-card__label,
    .order-stat-card__date {
      text-align: right;
      padding-left: 40px;
    }

    .order-stat-card__value,
    .order-stat-card__transaction {
      text-align: left;
    }
  }
}


